*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    font-family: calibri;
    color: white;
    background: linear-gradient(#77f2de,#ff9d2e);
}

.marco {
    border-radius: 30px;
    background: black;
    padding: 30px;
    border: 5px solid white;
}

.botones-contenedor {
    display: flex;
    justify-content: space-around;
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-size: 60%;
    padding: 20px;
}

.btn:hover{
    transform: scale(1.1);
    color: #ffa0ee;
}